@model ExercicioAccenture.ViewModels.ShowMarketsViewModel

From @ViewBag.Coin1 to @ViewBag.Coin2

@if (Model.WantedExchanges.Content.Count() > 0)
{
<table>
    <tr><td>Exchanges:</td> <td>Prices:</td></tr>
    @foreach (var z in Model.WantedExchanges.Content)
    {
        <tr>
            <td>@z.Name</td>
            <td>@z.Price</td>
        </tr>
    }
</table>
    }
    else
    {
        <p>No results found </p>
    }
 
    Time of Request: @Model.RequestTime.TimeOfDay.ToString().Split(".")[0]
<br/>
<a asp-action="Index" asp-controller="Home">Back</a>