@model ExercicioAccenture.ViewModels.ShowExchangesViewModel


@if (@ViewBag.ErrorMessage == "")
{
    
<p>From @ViewBag.Coin1 to @ViewBag.Coin2</p>
    
<table>
    <tr><td>Exchanges:</td> <td>Prices:</td></tr>
    @foreach (var z in Model.WantedExchanges.Content)
    {
        <tr>
            <td>@z.Market</td>
            <td>@z.Price</td>
        </tr>
    }
</table>
    
    <p>Time of Request: @Model.WantedExchanges.RequestTime.TimeOfDay.ToString().Split(".")[0]</p>
}
else
{
    <p>@ViewBag.ErrorMessage</p>
}
 
<br/>
<a asp-action="Index" asp-controller="Home">Back</a>